{% load khanatek_tags wagtailcore_tags wagtailimages_tags %}

{% if clients %}
<div class="container">
	<div class="row justify-content-md-center">
	    {% for client in clients %}
	        <div class="col-md-3 mb-r wow fadeInDown img-responsive">
	            {% if client.link %}<a href="{{ client.link }}">{% endif %}
	                {% image client.image max-250x80 class='img-responsive' %}
	            {% if client.link %}</a>{% endif %}
	        </div>
	    {% endfor %}
	</div>
</div>
<br>
<br>

		<button type="button" class="btn btn-outline-info waves-effect">Show more</button>
{% endif %}