{% load wagtailcore_tags static%}

{% if posts %}
        <h3 class="h3-responsive">Article posts by {{ calling_page.specific.first_name }}</h3>
            {% for post in posts %}
            <!-- <div class="row"> -->
                <!-- <div class="col-md-3"> -->
                    <a href="{% pageurl post %}">
                        <h4>
                            <span class="badge blue">{{ post.title }}</span>
                        </h4>
                    </a>
                <!-- </div> -->
            <!-- </div> -->
            {% endfor %}
        {% if posts|length > 3 %}
            <button type="button" class="btn btn-primary">More</button>
        {% endif %}
{% endif %}