html,
body
{
    height: 100%;
/*    padding:0;
    margin: 0;*/
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/*section {
    height: 100%;
    position: relative;
*/    /*text-align: center; */

/*     Center the content of the sections
    .inner {
        margin: 0 auto;
        max-width: 85%;
    }
}
*/
/* Navigation*/
        
.navbar {
    background-color: rgba(0,0,0,0.2);
}

.navbar-dark .navbar-nav .nav-link{
    color: #000000;
}
        
.top-nav-collapse {
    background-color: #154771;
}
        
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #154771;

    }
}

/*Intro*/
    
footer.page-footer {
    background-color: #154771;
}

.home-hero {
    position: relative;
    height: 80vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0 0 30px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media (min-width: 768px) {
    .home-hero {
        height: calc(100vh - 90px);
        margin: 0 0 50px 0;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px){
    .home-hero {
        max-height: 400px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px){
    .home-hero {
        max-height: 250px;
    }
}
@media only screen and (min-device-width: 569px) and (max-device-width: 1024px){
    .home-hero {
       max-height: 600px;
    }
}
.home-hero h1 {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px 13px;
    line-height: 1;
    z-index: 1;
    max-width: 100%;
    background-color: #fd5938;
    display: inline
}
.home-hero h1 span {
    font-weight: 400
}
@media (min-width: 768px) {
    .home-hero h1 {
        font-weight: 100;
        font-size: 55px;
        line-height: 1;
        max-width: 65%
    }
}
@media (min-width: 1205px) {
    .home-hero h1 {
        top: calc(50% - 70px)
    }
}
.hero-text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    overflow: visible;
    z-index: 6
}
@media (min-width: 768px) {
    .hero-text {
        bottom: 30px
    }
}
.hero-text .container {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s
}
.hero-text .content {
    max-width: 800px;
    margin: 0 auto
}
.hero-text p,
.hero-text h1,
.hero-text a {
    color: white
}
.hero-text h1 {
    font-size: 35px;
    line-height: 1;
    font-weight: 300
}
@media (min-width: 768px) {
    .hero-text h1 {
        font-size: 65px;
        letter-spacing: -0.02em
    }
}
.hero-text .client {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 15px 0;
    color: #fc8977
}
@media (min-width: 768px) {
    .hero-text .client {
        font-size: 18px
    }
}
.hero-text.testclass-1 h1 {
    color: #fd5938
}
.hero-text.testclass-1 .client {
    color: #2b3033
}
.hero-text.stop {
    position: absolute;
    top: 535px
}
@media (min-width: 768px) {
    .hero-text.stop {
        top: 70px
    }
}

.bleed {
    transition: all 350ms cubic-bezier(0.705, 0, 1, 1.13);
    transition-timing-function: cubic-bezier(0.705, 0, 1, 1.13);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    float: left;
    margin-top: 14px;
    z-index: 5;
    width: 100%;
    position: relative;
    left: 0;
    top: 15px;
    opacity: 30;
    padding-left: 1px;
    padding-right: 1px
}
.bleed:before {
    content: '';
    position: absolute;
    width: 0%;
    height: calc(100vh - 68px);
    top: 0;
    left: 0;
    z-index: -1;
    background: #fff
}
@media (min-width: 768px) {
    .bleed {
        height: auto;
        width: auto;
        margin-top: 12px;
        position: relative;
        top: auto;
        opacity: 1;
        transition: none;
        overflow: visible
    }
    .bleed:before {
        display: none
    }
}
.bleed.visible {
    padding: 0;
    height: calc(100vh - 68px);
    opacity: 1;
    background: #fff
}
.bleed.visible:before {
    width: 100%
}
.bleed.visible li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.bleed.visible li.show {
    opacity: 1
}
.bleed.visible li.show:nth-of-type(1) {
    transition-delay: 0.1s
}
.bleed.visible li.show:nth-of-type(2) {
    transition-delay: 0.2s
}
.bleed.visible li.show:nth-of-type(3) {
    transition-delay: 0.3s
}
.bleed.visible li.show:nth-of-type(4) {
    transition-delay: 0.4s
}
.bleed.visible li.show:nth-of-type(5) {
    transition-delay: 0.5s
}
.bleed.visible li.show:nth-of-type(6) {
    transition-delay: 0.6s
}
.bleed.visible li.show:nth-of-type(7) {
    transition-delay: 0.7s
}
.bleed.visible li.show:nth-of-type(8) {
    transition-delay: 0.8s
}

.bleed li {
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    transition: all 450ms ease;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}
@media (min-width: 768px) {
    .bleed li:hover ul {
        opacity: 1;
        max-height: 200px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
    }
}
.bleed li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.bleed li ul li .block-subitem:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.bleed li ul li:last-child {
    border-bottom: none
}
@media (min-width: 768px) {
    .bleed li ul {
        transition: all 0.4s ease;
        position: absolute;
        z-index: 0;
        background-color: #fff;
        width: 200px;
        overflow: hidden;
        max-height: 0;
        padding: 0 15px 0;
        left: -15px;
        opacity: 0;
        top: 56px
    }
    .bleed li ul li {
        display: block;
        width: 100%
    }
    .bleed li ul li a {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: block
    }
    .bleed li ul li a:hover:after {
        background: transparent;
        display: none
    }
}

@media (min-width: 320px) {
    .bleed li {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        text-align: center;
        float: left;
        margin-right: 5px;
        margin-bottom: 10px;
        transition: none;
        border: none
    }
    .bleed li:last-child {
        border-bottom: none
    }
}

@media (min-width: 768px) {
    .bleed li {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 10;
        text-align: left;
        float: right;
        margin-right: 20px;
        margin-bottom: 0;
        transition: none;
        border: none
    }
    .bleed li:last-child {
        border-bottom: none
    }
}
@media (min-width: 1025px) {
    .bleed li {
        margin-right: 45px
    }
}
.bleed li:last-of-type {
    margin-right: 0
}
.bleed li a {
    transition: all 0.25s ease 0s;
    color: #2b3033;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 12px 0;
    z-index: 1
}
@media (min-width: 768px) {
    .bleed li a {
        font-size: 14px;
        position: relative;
        top: 0
    }
    .bleed li a:after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 0;
        height: 1px;
        background: #0f24e2;
        transition: all 0.25s ease 0s
    }
    .bleed li a:hover,
    .bleed li a.active {
        cursor: pointer;
        color: #454060
    }
    .bleed li a:hover:after {
        width: 100%;
        left: 0;
        right: auto
    }
}

.feature-images {
    height: 100%;
    width: 100%;
    background: #000
}
.feature-image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    z-index: 0;
    background: url("/static/khanatek/images/test-header-02.jpg") no-repeat center;
    background-size: cover;
    transition: opacity 0.35s ease 0s
}
@media (min-width: 768px) {
    .feature-image {
        height: calc(100vh - 84px);
        min-height: 600px
    }
}
.initial-load .feature-image:nth-child(2) {
    z-index: 1;
    opacity: 1
}
.feature-image.active {
    z-index: 1;
    opacity: 1
}
.featured-case-studies {
    position: absolute;
    bottom: 7%;
    left: 0;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 120px;
    z-index: 2
}
@media (min-width: 768px) {
    .featured-case-studies {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}
.featured-case-studies:hover li {
    cursor: pointer
}
.featured-case-studies:hover li a {
    display: block
}
.featured-case-studies:hover li:before {
    opacity: 0
}
.featured-case-studies:hover li img {
    opacity: 0.5
}
.featured-case-studies:hover li.active:before {
    opacity: 0
}
.featured-case-studies:hover li.active img {
    opacity: 0.5
}
.featured-case-studies:hover li.active .link {
    opacity: 0;
    transition-delay: 0.25s
}
.featured-case-studies:hover li.active .link:after {
    width: 0%;
    right: 0;
    left: auto
}
.featured-case-studies .link {
    display: inline-block;
    position: relative;
    color: white !important;
    margin: 20px 0 0;
    margin-bottom: 30px;
    padding: 5px 0 0 0;
    opacity: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    clear: both;
    transition: opacity 0.25s ease 0s;
    transition-delay: 0.15s
}
.featured-case-studies .link span {
    display: none;
    color: #fc8977;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px;
    position: relative
}
.featured-case-studies .link:after {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    height: 1px;
    width: 0;
    background: #23b0b0;
    transition: all 350ms cubic-bezier(0.41, 0, 0.47, 1.15);
    transition-timing-function: cubic-bezier(0.41, 0, 0.47, 1.15)
}
@media (min-width: 768px) {
    .featured-case-studies .link {
        font-size: 24px;
        margin: 30px 0 0;
        display: inline-block
    }
    .featured-case-studies .link:before {
        top: 10px
    }
}
.featured-case-studies li {
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    float: left;
    margin-right: 5%;
    display: block;
    width: 260px
}
@media (min-width: 768px) {
    .featured-case-studies li {
        width: 30%;
        position: relative;
        left: 0;
        bottom: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}
.featured-case-studies li:nth-child(1),
.featured-case-studies li:nth-child(3) {
    display: none
}
@media (min-width: 768px) {
    .featured-case-studies li:nth-child(1),
    .featured-case-studies li:nth-child(3) {
        display: block
    }
}
.featured-case-studies li:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10%;
    height: 120%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease 0s;
    background: radial-gradient(ellipse at center, #23b0b0 0%, rgba(35, 176, 176, 0) 58%, rgba(35, 176, 176, 0) 69%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#23b0b0', endColorstr='#0023b0b0', GradientType=1)
}
.featured-case-studies li:last-of-type {
    margin-right: 0
}
.featured-case-studies li:hover:before {
    opacity: 0.5
}
.featured-case-studies li:hover img {
    opacity: 1
}
.featured-case-studies li:hover .link {
    opacity: 1;
    transition-delay: 0s
}
.featured-case-studies li:hover .link:after {
    width: 100%;
    right: auto;
    left: 0
}
.featured-case-studies li.active:before,
.initial-load .featured-case-studies li:nth-child(2):before {
    opacity: 0.5
}
.featured-case-studies li.active img,
.initial-load .featured-case-studies li:nth-child(2) img {
    opacity: 1
}
.featured-case-studies li.active .link,
.initial-load .featured-case-studies li:nth-child(2) .link {
    opacity: 1;
    transition-delay: 0s
}
.featured-case-studies li.active .link:after,
.initial-load .featured-case-studies li:nth-child(2) .link:after {
    width: 100%;
    left: 0;
    right: auto
}
.featured-case-studies li.active:hover img,
.initial-load .featured-case-studies li:nth-child(2):hover img {
    transition: all 0.25s ease 0s;
    opacity: 1
}
.featured-case-studies li.active:hover .link,
.initial-load .featured-case-studies li:nth-child(2):hover .link {
    opacity: 1;
    transition-delay: 0s
}
.featured-case-studies li.active:hover .link:after,
.initial-load .featured-case-studies li:nth-child(2):hover .link:after {
    right: auto;
    left: 0;
    width: 100%
}
.featured-case-studies li.active:hover:before,
.initial-load .featured-case-studies li:nth-child(2):hover:before {
    opacity: 0.5
}
.featured-case-studies .img-cont {
    zoom: 1;
    width: 100%;
    display: block;
    position: relative;
    z-index: 2
}
.featured-case-studies .img-cont:before,
.featured-case-studies .img-cont:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline
}
.featured-case-studies .img-cont:after {
    clear: both
}
.featured-case-studies img {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    width: auto;
    height: auto;
    max-height: 80px;
    fill: white;
    opacity: 0.5;
    transition: opacity 0.25s ease 0s
}
@media (min-width: 768px) {
    .featured-case-studies img {
        max-height: 110px
    }
}

/* Tiles blog heading */
.tiles-heading {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/* Tiles blog post */
.tiles-blog {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tiles-blog .tiles-margins {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tiles-blog .tiles-margins.no-margins {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tiles-blog .tiles-margins .tiles-blog-post {
  overflow: hidden;
  position: relative;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-image:after {
  display: block;
  position: relative;
  margin-top: -300px;
  content: '';
  height: 300px;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)) repeat-x;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 22px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-category {
  display: inline;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-category a {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px 10px;
  margin-bottom: 1rem;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff !important;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-category a:hover {
  background-color: #ffa000;
  transition: 0.7s;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-title {
  margin-bottom: 15px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-title a {
  font-weight: 500;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-comments {
  margin: 10px 0 0 16px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-comments a {
  color: #9e9e9e;
  transition: 0.3s;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-comments a:hover {
  color: #fff;
}


.about-hero {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  height: auto;
  background-size: cover;
  background-position: center;
  padding-bottom: 35%; }
  @media (min-width: 768px) {
    .about-hero {
      padding-bottom: 0; } }
  @media (min-width: 1205px) {
    .about-hero {
      background-attachment: fixed; } }
  .page-servicespage .about-hero {
    padding-bottom: 0; }
  .about-hero h2 {
    color: white;
    margin: 40px 0 0;
    font-size: 35px;
    font-weight: 300; }
    .about-hero h2 span {
      font-weight: 300; }
    .about-hero h2.thanks {
      margin: 150px 0; }
      .about-hero h2.thanks span {
        font-weight: 400; }
      @media (min-width: 1205px) {
        .about-hero h2.thanks {
          margin: 300px 0; } }
      .about-hero h2.thanks a {
        font-size: 22px;
        padding: 20px;
        border: none;
        margin-top: 40px; }
        .about-hero h2.thanks a:hover {
          border: none; }
    .about-hero h2.story {
      color: white;
      position: absolute;
      bottom: 50px;
      width: 100%;
      left: 0;
      font-size: 25px; }
      .about-hero h2.story:before {
        content: '';
        position: absolute;
        bottom: -25px;
        left: calc(50% - 25px);
        width: 50px;
        height: 20px;
        background: url("/static/torchbox/images/down-chevron-blue.svg") center no-repeat; }
      @media (min-width: 768px) {
        .about-hero h2.story {
          font-size: 32px;
          bottom: 140px; } }
    @media (min-width: 768px) {
      .about-hero h2 {
        font-weight: 200; } }
  .about-hero .intro {
    text-align: center;
    color: white;
    max-width: 900px;
    font-size: 18px;
    margin: 30px auto 0; }
    @media (min-width: 768px) {
      .about-hero .intro {
        font-size: 22px; } }
  .about-hero .btns {
    text-align: center;
    margin: 30px auto 0; }
    .about-hero .btns .btn {
      border: 1px solid #fd5938;
      padding: 15px 50px;
      margin: 0 auto 10px;
      background: #fd5938;
      color: white;
      font-size: 24px; }
      .about-hero .btns .btn:hover {
        border: 1px solid #fd5938;
        background: #fd5938; }
  .about-hero:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: rgba(43, 48, 51, 0.75);
    background: linear-gradient(to top, #2b3033, rgba(43, 48, 51, 0));
    mix-blend-mode: multiply; }
  .page-aboutpage .about-hero:before, .page-servicespage .about-hero:before, .page-contact .about-hero:before {
    background: transparent;
    height: 0; }
  .about-hero img {
    object-fit: cover;
    height: 400px; }
    @media (min-width: 768px) {
      .about-hero img {
        display: none;
        height: 600px; } }
    @media (min-width: 1205px) {
      .about-hero img {
        height: calc(100vh - 85px); } }
  .page-aboutpage .about-hero {
    height: auto; }
    @media (min-width: 768px) {
      .page-aboutpage .about-hero {
        height: 600px; }
        .page-aboutpage .about-hero h2 {
          margin-top: 140px; } }
    @media (min-width: 1205px) {
      .page-aboutpage .about-hero {
        height: 100vh; } }
  @media (min-width: 768px) {
    .about-hero {
      margin-bottom: 0;
      background-size: cover; }
      .about-hero h2 {
        margin: 60px 0 0;
        font-size: 65px; } }



.intro .rich-text h2 {
text-align: justify;
}

.intro .rich-text p {
font-size:14px;
margin-bottom:25px;
}


.rich-text p,.stream-field p {
font-size:14px;
text-align: justify;
}

.rich-text h2,.stream-field h2 {
text-align:left;
font-size:23px;
color:#000;
margin:30px 0 10px;
}

.rich-text ol li,.stream-field ol li {
list-style-type:decimal;
}

.rich-text li,.stream-field li {
max-width:800px;
font-size:16px;
font-weight:400;
list-style-type:square;
color:#000;
line-height:1.5;
margin:0 0 20px;
}

.rich-text blockquote,.stream-field blockquote {
position:relative;
z-index:1;
margin:30px 0;
padding:20px;
}

.rich-text blockquote:before,.stream-field blockquote:before {
content:'';
position:absolute;
left:-40px;
top:-20px;
width:220px;
height:220px;
/*background:url(/static/torchbox/images/pattern-sml.0c3b5a7f1599.png) no-repeat center;*/
background-size:cover;
-webkit-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg);
opacity:0.15;
z-index:0;
}

.rich-text blockquote p,.stream-field blockquote p {
max-width:100%;
font-weight:400;
line-height:1.5;
margin-bottom:20px;
font-size:18px;
}

.rich-text blockquote cite,.stream-field blockquote cite {
font-weight:500;
font-style:normal;
font-size:13px;
line-height:1.4;
text-transform:uppercase;
letter-spacing:.5px;
display:inline-block;
color:#000;
}

.rich-text img,.stream-field img {
width:100%;
height:auto;
margin:40px auto;
}

.rich-text .full-width,.stream-field .full-width {
border:1px solid rgba(0,0,0,0.05);
box-shadow:0 0 30px rgba(0,0,0,0.05);
background:#FFF;
padding:10px;
}

.rich-text .img-holder,.stream-field .img-holder {
zoom:1;
margin:30px 0;
}

.rich-text .img-holder img,.stream-field .img-holder img {
margin:0 0 15px;
}

.rich-text .img-holder p,.stream-field .img-holder p {
font-style:italic;
font-size:14px;
position:relative;
text-align:center;
opacity:0.8;
max-width:none;
margin:0;
}

figure,form,.rich-text .full-width .img-holder,.stream-field .full-width .img-holder,.popular-tags p {
margin:0;
}

.rich-text ul,.stream-field ul,.rich-text ol,.stream-field ol {
margin-left:40px;
}

.rich-text .align-right,.stream-field .align-right,.nextprev-nav .next,.contact-form__field-wrapper,.page-signupformpage .cta .container,.services-wrapper--relative,.services-section--border-bottom {
position:relative;
}

.hiring .sml,.hiring h2 a,.rich-text p a,.stream-field p a,.tags a,.page-contact .contact-bar__item a,.address a,.people-list--text h2,.page-personpage .blog-listing li .text h3,#posts h2 a,.author-holder a {
position:relative;
}

.rich-text p,.stream-field p,.rich-text li,.stream-field li {
font-size:14px;
}

.page-signupformpage .rich-text {
font-size:23px;
margin:50px auto 30px;
}

.page-signupformpage .rich-text img {
float:right;
width:50%;
}

.rich-text .align-right,.stream-field .align-right {
right:-90px;
/*margin-right:-150px;*/
float:right;
z-index:1;
}

/* Cover photo */
.cover-photo .hero-image {
  max-width: 100%;
  width: auto;
  margin: auto; }

.cover-photo .hero-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: ''; }

.cover-photo .cover-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff; }
  @media (max-width: 34em) {
    .cover-photo .cover-text {
      bottom: 5px;
      left: 25px; }
      .cover-photo .cover-text h1 {
        font-size: 1rem; }
      .cover-photo .cover-text h5 {
        font-size: 0.75rem; }
      .cover-photo .cover-text h4 {
        font-size: 0.75rem; } }
  .cover-photo .cover-text h5 {
    margin-top: 1rem; }
    .cover-photo .cover-text h5 span {
      float: right;
      padding-left: 1.5rem; }

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Services page*/
/*
.page-servicespage .services-intro {
    background: #F1D148;
    margin-top: -8.5em;
    padding: 8.5em 4em 2em 4em;
}

.page-servicespage h1 {
    font-size: 5em;
    color: #FFFFFF;
}

.services {
    margin-top: 3em;
}

.page-servicespage .services li {
    margin: 3em 0;
    padding: 0 1.5em 0 1.5em;
    width: 25%;
    float: left;
    height: 350px;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.page-servicespage .services li:hover:before {
    color: #FD5938;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.page-servicespage .services h2 {
    font-size: 2em;
    min-height: 3em;
}

.page-servicespage .services p {
    color: #6a6a6a;
    line-height: 1.6em;
}

.page-servicespage {
    background:transparent;
    height:0;
}

.services .services-content,.offices .services-content,.involved-in .services-content {
transition:all .2s ease 0;
text-align:center;
background-color:rgba(255,255,255,0.9);
position:relative;
padding:30px 20px;
}

.services .services-content:before,.offices .services-content:before,.involved-in .services-content:before {
content:'';
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:url(/static/khanatek/images/dot-pattern.a0b904a903da.png) no-repeat center;
background-size:700px;
opacity:0.1;
z-index:0;
}

.services .services-content svg,.offices .services-content svg,.involved-in .services-content svg {
transition:all .2s ease 0;
display:inline-block;
max-width:100px;
height:100px;
margin-bottom:20px;
fill:#68aa6c;
}

.services .services-content a.service__link:hover,.offices .services-content a.service__link:hover,.involved-in .services-content a.service__link:hover {
text-decoration:underline;
}

.services .services-content a.service__link--header,.offices .services-content a.service__link--header,.involved-in .services-content a.service__link--header {
color:#68aa6c;
position:relative;
}

.services button,.offices button,.involved-in button {
margin:0 auto;
}

.services-wrapper {
width:100%;
max-width:1450px;
margin:0 auto;
padding:0 15px;
}

.services-grid {
display:flex;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
}

.services-grid__item {
width:100%;
display:inline-block;
vertical-align:top;
}

.services-grid__item--hidden {
opacity:0;
-webkit-transform:translate3d(0,30px,0);
transform:translate3d(0,30px,0);
transition:opacity 500ms ease, transform 700ms ease, 0 700ms ease;
}

.services-grid__item--show {
opacity:1;
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
}

.services-grid__item--three-quarters {
width:73%;
}

.services-section {
width:100%;
padding:50px 0 0;
}

.services-section__heading {
color:#000;
text-align:left;
font-size:32px;
font-weight:600;
}

.services-section__paragraph {
margin-top:40px;
font-size:22px;
font-weight:300;
color:#222;
}

.services-section--white {
background-color:#fff;
}

.services-section--grey {
background-color:#e4e9ec;
}

.services-section--dark-grey {
background-color:#102626;
}

.services-section--border-bottom:after {
content:'';
position:absolute;
bottom:0;
left:0;
right:0;
width:calc(100%-30px);
border-bottom:1px solid #dedfdf;
margin:auto;
}

.services-reasons-list {
margin-top:40px;
margin-bottom:-20px;
display:flex;
-webkit-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-justify-content:space-between;
-ms-flex-pack:justify;
justify-content:space-between;
}

.services-reasons-list__item {
position:relative;
width:100%;
margin-bottom:5px;
font-size:26px;
line-height:30px;
transition:opacity 500ms ease, transform 700ms ease, 0 700ms ease;
padding:10px 0;
}

.services-reasons-list__tick {
height:30px;
width:30px;
display:inline-block;
vertical-align:top;
}

.services-reasons-list__detail {
border-bottom:1px solid #e5e5e5;
padding-bottom:20px;
display:inline-block;
width:calc(100%-50px);
margin-left:10px;
}

.services-reasons-list__item:last-child .services-reasons-list__detail {
border-bottom:0;
}

.services-process__icon svg {
width:20%;
min-width:80px;
max-height:150px;
margin-top:30px;
fill:#23b0b0;
}

.services-process__content-wrapper {
display:inline-block;
vertical-align:top;
}

.services-process__subtitle {
font-size:32px;
font-weight:700;
color:#fd5938;
}

.services-process__title {
font-size:30px;
font-weight:500;
color:#222;
margin-top:-16px;
margin-bottom:-3px;
}

.services-process__description {
font-size:18px;
font-weight:400;
color:#555;
}

.services-team-member__image {
display:inline-block;
vertical-align:top;
width:100%;
margin-bottom:20px;
}

.services-team-member__image img {
width:100%;
margin-top:12px;
}

.services-team-member__name {
font-size:25px;
font-weight:400;
color:#222;
line-height:1.75;
}

.services-team-member__title {
font-size:15px;
font-weight:400;
color:#23b0b0;
text-transform:uppercase;
}

.services-team-member__description {
font-size:16px;
font-weight:400;
color:#555;
}

.particles-js {
position:absolute;
width:100%;
height:400px;
opacity:0.6;
}

.services-hero {
position:relative;
width:100%;
background-color:#102626;
background:linear-gradient(toright,#1026260%,#243e3f28%,#102626100%);
padding:50px 0;
}

.services-hero__wrapper {
position:relative;
width:100%;
height:100%;
z-index:1;
margin:0 auto;
padding:0 15px;
}

.services-hero__breadcrumbs {
position:relative;
display:inline-block;
font-size:18px;
text-transform:uppercase;
color:#FFF;
}

.services-hero__breadcrumbs:after {
content:'/';
position:absolute;
right:-15px;
}

.services-hero__title {
font-size:40px;
font-weight:200;
color:#fff;
text-transform:uppercase;
margin:10px 0;
}

.services-hero__description {
font-size:22px;
max-width:850px;
color:#fff;
font-weight:400;
line-height:30px;
margin:0;
}

.services-avatar-container {
position:absolute;
top:350px;
right:0;
width:414px;
z-index:9;
-webkit-transform:translate3d(525px,0,0);
transform:translate3d(525px,0,0);
border-top-left-radius:6px;
border-bottom-left-radius:6px;
overflow:hidden;
display:none;
transition:background-color 500ms ease, box-shadow 500ms ease, opacity 500ms ease, transform 500ms ease, 0 500ms ease;
}

.services-avatar-container__find-out-more {
background-color:#fd5938;
text-transform:uppercase;
font-size:14px;
color:#fff;
font-weight:600;
margin-bottom:2px;
opacity:0;
transition:background-color 300ms ease, opacity 500ms ease;
padding:6px 15px;
}

.services-avatar-container__find-out-more--alt {
background-color:#000;
}

.services-avatar-container__contact-info {
display:inline-block;
vertical-align:top;
width:270px;
line-height:26px;
opacity:0;
font-size:22px;
transition:opacity 500ms ease;
padding:20px 0 20px 20px;
}

.services-avatar-container__contact-details {
vertical-align:top;
padding-left:12px;
padding-top:20px;
width:180px;
line-height:21px;
color:#fff;
display:none;
transition:opacity 500ms ease;
}

.services-avatar-container__contact-details--show {
opacity:1;
display:inline-block;
}

.services-avatar-container__close {
position:absolute;
top:0;
right:0;
width:37px;
height:37px;
text-align:center;
padding-top:4px;
cursor:pointer;
transition:opacity 300ms ease;
}

.services-avatar-container__close svg {
width:12px;
height:12px;
}

.services-avatar-container__close:hover {
opacity:0.7;
}

.services-avatar-container__contact-item {
margin:5px 0 10px;
}

.services-avatar-container__contact-item svg {
width:17px;
fill:#23b0b0;
}

.services-avatar-container__contact-item a {
font-size:15px;
font-weight:600;
margin-left:5px;
}

.services-avatar-container--move-left {
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
background-color:#fff;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.services-avatar-container--move-right {
-webkit-transform:translate3d(275px,0,0);
transform:translate3d(275px,0,0);
background-color:#fff;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.services-avatar-container--alt {
background-color:#2c2c2c;
}

.services-avatar-container--fixed {
position:fixed;
top:350px;
}

.services-avatar-container--hide {
-webkit-transform:translate3d(350px,0,0);
transform:translate3d(350px,0,0);
opacity:0;
}

.services-avatar {
position:relative;
display:inline-block;
vertical-align:top;
width:139px;
height:139px;
z-index:5;
cursor:pointer;
transition:transform 300ms ease, 0 300ms ease;
}

.services-avatar__image {
border-radius:50%;
transition:margin-top 300ms ease;
}

.services-avatar__text {
position:absolute;
bottom:-10px;
background-color:#000;
color:#fff;
text-align:center;
font-size:14px;
line-height:14px;
transition:opacity 500ms ease;
padding:7px 25px 16px;
}

.services-avatar-footer {
max-width:800px;
text-align:center;
margin:60px auto;
padding:0 20px;
}

.services-avatar-footer__image {
width:150px;
display:inline-block;
vertical-align:top;
}

.services-avatar-footer__info {
display:inline-block;
vertical-align:top;
padding-left:35px;
margin-top:30px;
text-align:left;
}

.services-avatar-footer__info h3 {
font-size:28px;
font-weight:500;
color:#222;
}

.services-slider {
position:relative;
margin-top:15px;
}

.services-slider__heading {
max-width:800px;
color:#222;
font-size:22px;
font-weight:300;
text-align:left;
line-height:30px;
margin:0 0 40px;
}

.services-slider .work-list li {
width:100%;
background-color:#fbfcfc;
}

.services-slider .work-list li .image-container {
width:100%;
height:330px;
display:inline-block;
vertical-align:top;
}

.services-slider .work-list li .work-text {
position:static;
display:inline-block;
vertical-align:top;
width:100%;
padding:10px 30px 30px;
}

.services-slider .work-list li .work-text h3 {
color:#222;
font-size:32px;
font-weight:500;
}

.services-slider .work-list li:hover .work-text:after {
width:0;
}

.services-slider .owl-dot span {
width:10px;
height:10px;
background:none repeat scroll 0 0 #cbcdce;
transition:background 300ms ease;
}

.services-slider .owl-dot span:hover {
background:none repeat scroll 0 0 #333;
}

.services-slider .owl-dots {
padding-bottom:60px;
}

.services-slider .owl-dots .active span {
-webkit-transform:none;
-ms-transform:none;
transform:none;
background:#333;
}

.services-slider .owl-prev,.services-slider .owl-next {
text-indent:-9999px;
position:absolute;
width:50px;
height:120px;
top:calc((330px/2) 0 (120px/2));
background-color:rgba(253,89,56,0.8);
}

.services-slider .owl-prev {
left:0;
}

.services-slider .owl-next {
right:0;
}

.services-slider .owl-prev::after,.services-slider .owl-next::after {
display:block;
text-indent:0;
color:#FFF;
font-size:100px;
font-weight:100;
position:relative;
top:-60px;
}

.services-slider .owl-prev::after {
content:"\2039";
left:10px;
}

.services-slider .owl-next::after {
content:"\203A";
left:15px;
}

.services-blockquote {
position:relative;
background:#102626;
padding:20px;
}

.services-blockquote blockquote {
font-weight:400;
font-size:20px;
line-height:33px;
color:#fff;
margin:0;
}

.services-blockquote cite {
position:relative;
margin-top:20px;
text-transform:uppercase;
font-size:13px;
color:#23b0b0;
font-style:normal;
font-weight:500;
display:block;
}
*/