{% extends "core/base.html" %}
{% load khanatek_tags wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <style>
        .about-hero {
            {% image page.main_image original as main_image %}
            background-image: url("{{ main_image.url }}");
            margin-top: -150px;
            
        }
    </style>

 <!--    <style>
        .view {

            background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/City/full%20page/img%20(1).jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style> -->

    <div class="about-hero fluid">
        <div class="container">
            <div class="content">
                <h2 class="h2-responsive animated fadeInUp">{{ page.heading }}</h2>
                <p class="intro text-center"><medium>{{ page.intro }}</medium></p>
                {% if page.related_link_buttons.all %}
                <div class="btns">
                    {% for button in page.related_link_buttons.all %}
                    <a href="{{ button.link }}" class="btn">{{ button.title }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- <div class="container"><hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="margin-top:80px;"></div> -->

    <section class="section extra-margins">
        <div class="container divider-new wow fadeInUp mt-4 mb-5 wow fadeInDown" data-wow-delay="0.4s">
            <h1 class="h1-responsive">About Khanatek</h1>
        </div>
    </section>

    {% if page.content_blocks.all %}
    <section>
        <div class="container">
            
        {% for content_block in page.content_blocks.all %}
            <div class="row single-post wow fadeInDown" data-wow-delay="0.3s">
                            <!--First column-->
                            <div class="col-md-6 mb-r">
                                <!--Featured image-->
                                {% image content_block.image fill-520x500 as img %}
                                <div class="view overlay hm-white-slight">
                                    <img src="{{ img.url }}" class="img-fluid">
                                    <a>
                                        <div class="mask waves-light"></div>
                                    </a>
                                </div>
                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-md-6 mb-r">
                                <!--Excerpt-->
                                <a class="blue-text"><h5><i class="fa fa-clock-o"></i>  {{ content_block.year }}</h5></a>
                                
                                <h2 class="h2-responsive"><strong>{{ content_block.title }}</strong></h2>
                                <h5 class="h5-responsive" style="text-align: justify-all;">{{ content_block.description }}</h5>
                            </div>
                            <!--/Second column-->
                        </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    <section class="section extra-margins text-center">
        <div class="container">

            {% if page.offices.all %}
                <div class="offices wow fadeInDown">
                    <div class="divider-new wow fadeInUp mt-4 mb-5 wow fadeInDown" data-wow-delay="0.4s">
                        <h1>Our offices</h1>
                    </div>
                        {% for office in page.offices.all %}
                            <div class="row">
                                <div class="col-md-4 wow fadeInUp">
                                    {{ office.svg|safe }}
                                    <h4>{{ office.title }}</h4>
                                        <p>{{ office.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            {% endif %}
            
        </div>
    </section>


{% endblock %}