{% extends "core/base.html" %}
{% load khanatek_tags wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<style>
    {% if self.main_image %}
        {% image self.main_image fill-1300x750 as header_image %}
        .about-hero {
            background-image: url('{{ header_image.url }}');
        }
    {% else %}
        .about-hero {
            background: url("{% static 'khanatek/images/eng.jpg' %}") no-repeat center center;
            margin-top: -150px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    {% endif %}
</style>

<div class="about-hero fluid">
    <section class="">
        <div class="container">
            {% homepage_job_listing 0 %}
        </div>
    </section>
</div>

{% if self.reasons_to_join.all %}
<section class="section extra-margins">
    <div class="container">
        <div class="divider-new wow fadeInUp mt-4 mb-5 wow fadeInDown" data-wow-delay="0.4s">
            <h2 class="h2-responsive">{{ self.reasons_intro }}</h2>
        </div>

        {% for reason in self.reasons_to_join.all %}
            <div class="row single-post wow fadeInDown" data-wow-delay="0.3s">
                            <!--First column-->
                <div class="col-md-6 mb-r">
                            <!--Featured image-->
                        {% image reason.image fill-520x520 as img %}
                        <div class="view overlay hm-white-slight">
                            <img src="{{ img.url }}" class="img-fluid">
                            <a>
                                <div class="mask waves-light"></div>
                            </a>
                        </div>
                </div>
                            <!--/First column-->

                            <!--Second column-->
                <div class="col-md-6 mb-r">
                                <!--Excerpt-->
                    <a href="" class="blue-text"><h5>{{ forloop.counter|stringformat:"02d" }}</h5></a>
                                
                    <h2 class="h2-responsive">{{ reason.title }}</h2>
                    <p>{{ reason.body }}</p>
                </div>
                <!--/Second column-->
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'khanatek/vendor/slick/slick.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'khanatek/vendor/slick/slick.css' %}"/>
{% endblock %}