{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<section class="section extra-margins">
    <div class="container wow fadeInDown" data-wow-delay="0.4s" style="margin-top: 150px;">
        <h1>{{ page.intro }}</h1>
    </div>
</section>

<div class="page-content">
    
            <!--Section: Team v.1-->
    <section class="section team-section">
    <div class="container">
        {% if self.senior_management.all %}
        <!--Section heading-->
        <div class="divider-new wow fadeInUp mt-4 mb-5" data-wow-delay="0.9s">
            <h1 class="h1-responsive">{{ page.senior_management_intro }}</h1>
        </div>

        <!--First row-->
        <div class="row text-center">

        {% for senior in self.senior_management.all %}

            <!--First column-->
            <div class="col-lg-6 col-md-6 mb-r">
            <a href="{% pageurl senior %}">
                {% if senior.image %}
                    {% image senior.image fill-400x400 as photo %}
                <div class="avatar wow bounceInLeft" data-wow-delay="1.2s">
                    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="rounded-circle">
                </div>
                {% else %}
                <!-- <div class="avatar">
                    <img src="http://placehold.it/400&text=Please+update+me" width="400" height="400" alt="Please change me!" class="rounded-circle">
                </div> -->
                {% endif %}
            </a>
                <h4 class="wow fadeInDown" data-wow-delay="1.5">{{ senior.title }}</h4>
                    {% if senior.role %}
                <h5 class="wow fadeInUp" data-wow-delay="1.5">{{ senior.role }}</h5>
                    {% endif %}              
            </div>
            <!--/First column-->
        {% endfor %}
        {% endif %}
        </div>
        <!--/First row--> 
    </div>  
    </section>
    <!--/Section: Team v.1-->

    <!--Section: Team v.1-->
    <section class="section team-section">
    <div class="container">
        {% if self.people.all %}
        <!--Section heading-->
        <div class="divider-new wow fadeInUp mt-4 mb-5" data-wow-delay="0.9s">
            <h1 class="h1-responsive">{{ page.team_intro }}</h1>
        </div>

        <!--First row-->
        <div class="row text-center">

        {% for person in self.people.all %}

            <!--First column-->
            <div class="col-lg-3 col-md-6 mb-r">
            <a href="{% pageurl person %}">
                {% if person.image %}
                    {% image person.image fill-400x400 as photo %}
                <div class="avatar wow bounceInRight" data-wow-delay="1.2s">
                    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="rounded-circle">
                </div>
                {% else %}
                <!-- <div class="avatar">
                    <img src="http://placehold.it/400&text=Please+update+me" width="400" height="400" alt="Please change me!" class="rounded-circle">
                </div> -->
                {% endif %}
            </a>
                <h4 class="wow fadeInDown" data-wow-delay="1.5">{{ person.title }}</h4>
                    {% if person.role %}
                <h5 class="wow fadeInUp" data-wow-delay="1.5">{{ person.role }}</h5>
                    {% endif %}              
            </div>
            <!--/First column-->
        {% endfor %}
        {% endif %}
        </div>
        <!--/First row--> 
    </div>  
    </section>
    <!--/Section: Team v.1-->
</div>
{% endblock %}