{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags khanatek_tags static %}

{% block content %}

<div class="container" style="margin-top: 40px;">
            
            <div class="row">
                <!-- Team -->
                <div class="col-md-10 offset-md-1">
                    
                    <!-- Section: Author page -->
                    <section class="section team-page author-page mb-4"> 
                        <!-- Image -->
                        {% if self.image %}
                        <div class="view overlay hm-white-light wow fadeIn">
                            {% image self.image fill-920x612 as photo %}
                            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-fluid">
                            <a>
                                <div class="mask waves-light"></div>
                            </a>
                        </div> 
                        {% endif %}
                        <!-- Image -->   
                        
                        <!-- Section heading -->
                        <h1 class="section-heading wow fadeIn" data-wow-delay="0.3s">{{ self.title }}</h1>
                        <!-- Section description -->
                        <div class="section-description wow fadeIn" data-wow-delay="0.3s">
                            <div class="intro">
                                {% if self.intro %}
                                    {{ self.intro|richtext }}
                                {% endif %}
                            </div>

                            {% if self.biography %}
                                {{ self.biography|richtext }}
                            {% endif %}

                        </div>
                    </section>
                    <hr>
                    <div class="text-center wow fadeIn" data-wow-delay="0.3s">
                        <div class="container">
                                   
                                {% person_article_post_listing calling_page=self %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}