{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags khanatek_tags %}

{% block content %}

    {% get_popular_tags self as poptags %}

    <div class="container" style="margin-top: 150px;">

        <div class="divider-new wow fadeIn mt-4 mb-5" data-wow-delay="0.2s">
            {% if self.intro %}
            <h1 class="h1-responsive">
                    {{ self.intro|richtext }}
            </h1>
            {% endif %}
        </div>    

        <!-- <h1 style="margin-top: 200px;">Our projects</h1> -->

         <div class="popular-tags">
            {% if poptags and not self.hide_popular_tags %}
                <div class="col-md-12 hidden-md-down">
                    <h5>
                        <ol class="breadcrumb">
                            {% for tag in poptags %}
                                {% if request.GET.tag|length and request.GET.tag|safe == tag.slug %}
                                    <li class="breadcrumb-item"><a class="filtering" href="?tag={{ tag.slug }}"><span class="badge blue">{{ tag }}</span></a></li>
                                {% else %}
                                    <li class="breadcrumb-item"><a href="?tag={{ tag.slug }}"><span class="badge blue">{{ tag }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                            {# Optional 'show all' appears if filtering by tag #}
                            {% if request.GET.tag|length %}
                                {% for tag in poptags %}
                                    {% if request.GET.tag|safe == tag.slug %}
                                        <li class="breadcrumb-item"><a class="before" href="{% pageurl self %}"><span class="badge blue">show all</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </h5>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">        
        {% if projects %}
            <div class="row">
                {% for item in projects %}
                    {% include "core/tags/project_list_item.html" with project=item %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <nav>
        <ul class="pagination pg-blue">
            {# Pagination #}

            {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
            <li class="page-item">
                {% if projects.has_previous %}
                    <a href="?page={{ projects.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Previous &nbsp;</p></a>
                {% endif %}
            </li>

            <!--
            <div class="number">
                <p> {{ works.number }} of {{ works.paginator.num_pages }} </p>
            </div>
            -->

            <li class="page-item">
                {% if projects.has_next %}
                    <a href="?page={{ projects.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Next </p></a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}