{% extends "core/base.html" %}
{% load khanatek_tags wagtailcore_tags wagtailimages_tags static %}

{% block content %}    

    <style>
        .about-hero {
            {% image page.main_image original as main_image %}
            background-image: url("{{ main_image.url }}");
        }
    </style>


    <div class="about-hero" style="margin-top: -40px;">
        <div class="" id="tester-unique">
            <div class="container">
                <div class="content">
                    <h2 class="wow fadeInDown h2-responsive">Our services</h2>
                </div>
            </div>
        </div>
    </div>

<div class="container" style="margin-top:50px;">
    <hr class="between-sections">
</div>

<section class="extra-margins">
        <div class="container">        
        {% if self.services.all %}
            <div class="row single-post wow fadeInDown" data-wow-delay="0.3s">
                            <!--First column-->
                            <div class="col-md-6 mb-r">
                                <!--Featured image-->
                            {% for service in self.services.all %}
                                {% image service.service_image fill-500x500 as img %}
                                <div class="view overlay hm-white-slight">
                                    <img src="{{ img.url }}">
                                    <a>
                                        <div class="mask waves-light"></div>
                                    </a>
                                </div>
                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-md-6 mb-r">
                                <!--Excerpt-->
                                <h2 class="h2-responsive">{% if service.link %}<a href="{% pageurl service.link %}">{% endif %}{{ service.title }}{% if service.link %}</a>{% endif %}</h2>
                                <h5 class="h5-responsive">{{ service.description }}</h5>
                                {% if service.link %}<a href="{% pageurl service.link %}" class="btn btn-outline-primary waves-effect"><i class="fa fa-clone left"></i> Find out more </a>{% endif %}
                            </div>
                            <!--/Second column-->
                            {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}